@import url(./__heart/photo-grid__heart.css);
@import url(./__photo/photo-grid__photo.css);
@import url(./__title/photo-grid__title.css);
@import url(./__content/photo-grid__content.css);
@import url(./__delete/photo-grid__delete.css);
@import url(./__heart/_clicked/photo-grid__heart_clicked.css);
@import url(./__like-count/photo-grid__like-count.css);


.photo-grid {
  width: 100%;
  max-width: 282px;
  margin: 0;
  /* height: 355px; */
}

@media screen and (max-width: 880px) {
  .photo-grid {
    margin: auto;
  }
}