.popup-box__save {
  width: 358px;
  height: 56px;
  margin: 30px 36px 20px 36px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: #000000;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border: none;
}

.popup-box__save:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .popup-box__save {
    width: 238px;
    margin: 30px 22px 25px 22px;
    font-size: 14px;
    line-height: 17px;
  }
}