.profile__text-button {
  width: 24px;
  height: 24px;
  margin-bottom: 30px;
  border: #FFFFFF 1px solid;
  background-color: transparent;
  padding: 0;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  background-image: url(../../../images/pen.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__text-button:hover {
  opacity: 0.6;
  cursor: pointer;
}


@media screen and (max-width: 880px) {
  .profile__text-button {
    width: 18px;
    height: 18px;
    margin: 0;
    position: relative;
    left: 120px;
    bottom: 55px;
  }
}
