.profile__bio {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 0;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .profile__bio {
    margin-top: 14px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    max-width: 219px;
  }
}