@import url(./_hidden/photo-grid__delete_hidden.css);

.photo-grid__delete {
  margin: auto 23px auto auto;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 19px;
  position: relative;
  top: 30px;
  right: -250px;
}

.photo-grid__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
