.popup-box__container {
  margin: auto;
  width: 430px;
  background: rgb(246,246,246,1);
  box-sizing: border-box;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 880px) {
  .popup-box__container {
    width: 282px;
  }
}
